body {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: auto;
}

.dark-mode {
  background-color: black;
  color: white;
}

header {
  margin-top: 75px;
}

header h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
}

h2 {
  font-family: "Roboto Slab", serif;
}

nav ul {
  display: flex;
  padding: 0;
  font-size: 1.5rem;
}

nav li {
  list-style: none;
  margin-right: 20px;
}

nav a {
  background-color: aqua;
  padding: 10px;
}

nav a:hover {
  background-color: black;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.user-greet {
  margin-top: 50px;
}

.user-greet p {
  display: inline;
  background-color: lime;
  font-size: 1.5rem;
  color: black;
  padding: 10px;
}

.content-text {
  margin-top: 50px;
}

.music-section,
.film-section {
  margin-top: 50px;
}

.music-section ul {
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  list-style-type: none;
  padding: 0;
  gap: 10px;
}

.music-section img {
  max-width: 200px;
  scroll-snap-align: start;
}

.music-section p {
  font-size: 0.75rem;
  text-align: center;
}

.music-section hr {
  border: 2px solid aqua;
}

.film-section hr {
  border: 2px solid aqua;
}

.film-section ol {
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  list-style-type: none;
  padding: 0;
  gap: 10px;
}

.film-section img {
  max-width: 200px;
  scroll-snap-align: start;
}

.quizButton {
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  margin-top: 10px;
  background-color: aqua;
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
}

button:hover {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}

.quizButton hr {
  border: 2px solid aqua;
}

footer {
  text-align: end;
  margin: 50px 0;
}

.dark-button {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 1rem;
}

.dark-button:hover {
  background-color: black;
  border: 2px solid black;
}

.sticky-link {
  font-size: 1.5rem;
  text-align: end;
  position: sticky;
  top: 80%;
}

.sticky-link a {
  padding: 10px;
  background-color: rgba(255, 0, 234, 0.5);
}
